<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
<appSettings>
  <add key="Dynamics:BaseUrl" value="https://dummyInstance.api.crm.dynamics.com/XRMServices/2011/Organization.svc" />
  <add key="Dynamics:Username" value="dummyName" />
  <add key="Dynamics:Password" value="dummyPassword" />
  <add key="RecordInGroup" value="200" />
</appSettings>
</configuration>
